GLASS     WAVE         GLASS.WAV
NOTIFY    WAVE         NOTIFY.WAV
SIREN     WAVE         SIREN.WAV
ERR       WAVE         ERR.WAV
INFO    WAVE      INFO.WAV
ABRIR     WAVE         ABRIR.WAV
ALARMA    BITMAP       ALARMA.BMP
INTRUSO   BITMAP       INTRUSO.BMP
